<!DOCTYPE html>
<html lang="de" class="html no-js">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar--cookbook }}
{{> ../02-molecules/header--cookbook }}
{{> ../03-organisms/search }}
{{> ../03-organisms/collection }}
</body>
</html>
