<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar/cookbook }}
{{> ../02-molecules/header/cookbook }}
{{> ../03-organisms/search/default }}
{{> ../03-organisms/collection }}
</body>
</html>
