<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar }}
{{> ../02-molecules/header }}
{{> ../03-organisms/search }}
{{> ../02-molecules/card }}
</body>
</html>
