<!DOCTYPE html>
<html lang="de" class="html no-js">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar }}
{{> ../02-molecules/header--go-back }}
{{> ../02-molecules/card--notifcation }}
{{> ../02-molecules/card--notifcation }}
{{> ../02-molecules/card--notifcation }}
{{> ../02-molecules/card--notifcation }}
{{> ../02-molecules/card--notifcation }}
{{> ../02-molecules/card--notifcation }}
</body>
</html>
