<!DOCTYPE html>
<html lang="de" class="html no-js">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar }}
{{> ../02-molecules/header--go-back }}
{{> ../03-organisms/search--friends }}
<div class="container">
    <h2>Ausstehende Anfragen</h2>
    {{> ../02-molecules/card--friend-request }}

    <h2>Vorgeschlagene Kontakte</h2>
    {{> ../02-molecules/author }}
    {{> ../02-molecules/author }}
    {{> ../02-molecules/author }}
    {{> ../02-molecules/author }}
</div>
</body>
</html>
