<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar/default }}
{{> ../02-molecules/header/default }}
{{> ../03-organisms/search/default }}
{{> ../02-molecules/card/default }}
</body>
</html>
