<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar/new-recipe }}
{{> ../02-molecules/header/new-recipe }}
<div class="container recipe-form">
    <div class="row recipe-form__progress">
        {{> ../02-molecules/progress }}
    </div>
    <div class="row recipe-form__description">
        {{> ../02-molecules/create-step }}
    </div>
    <div class="row recipe-form__step">
        <script type="text/javascript">
            // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
            let vh = window.innerHeight * 0.01;
            // Then we set the value in the --vh custom property to the root of the document
            document.documentElement.style.setProperty('--vh', `${vh}px`);
            // We listen to the resize event
            window.addEventListener('resize', () => {
              // We execute the same script as before
              let vh = window.innerHeight * 0.01;
              document.documentElement.style.setProperty('--vh', `${vh}px`);
            });
        </script>
        {{> ../03-organisms/step--title }}
    </div>
</div>
<div class="row">
    {{> ../02-molecules/step-navigation }}
</div>
</body>
</html>
