<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navbar--new-recipe }}
{{> ../02-molecules/header--new-recipe }}
<div class="container recipe-form">
    <div class="row recipe-form__progress">
        {{> ../02-molecules/progress }}
    </div>
    <div class="row recipe-form__description">
        {{> ../02-molecules/create-step }}
    </div>
    <div class="row recipe-form__step">
        {{> ../03-organisms/step--title }}
    </div>
    <div class="row recipe-form__navigation">
        {{> ../02-molecules/step-navigation }}
    </div>
</div>
</body>
</html>
