<div class="container">
    <div class="row mb-5 collection">
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
    </div>
    <div class="row mb-5 collection">
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
    </div>
    <div class="row mb-5 collection">
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
    </div>
    <div class="row mb-5 collection">
        <div class="col-sm">
            {{> ../02-molecules/collection }}
        </div>
        <div class="col-sm">
            {{> ../02-molecules/collection--new }}
        </div>
    </div>
</div>