<div class="container--cta">
    <button class="btn btn--primary btn--cta">
        Freundschaft anfragen
    </button>
</div>
<div class="container--cta">
    <button class="btn btn--secondary btn--cta">
        Anfrage zurückziehen
    </button>
</div>
<div class="container--cta">
    <button class="btn btn--warning btn--cta">
        Freundschaft aufheben
    </button>
</div>