<div class="author author--teaser">
    <div class="author__image">
        <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
    </div>
    <div class="author__info">
        <span class="author__name">Yelena Helsinki</span>
        <span class="author__count-published">22 Rezepte</span>
    </div>
    <div class="author__add">
        <button class="btn btn--tertiary">
            Aufheben
        </button>
    </div>
</div>
