<div class="collection__item collection--add-new">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="icon--primary" d="M5.48179 15.9999H16M26.5182 15.9999H16M16 15.9999V5.48169M16 15.9999V26.5181" stroke="#F6F5EF" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <span class="collection__add-new">Neue Sammlung hinzufügen</span>
</div>