<div class="collection__item">
    <img src="https://via.placeholder.com/150x150" alt="Rezept Vorschau">
    <span class="collection__name">Sammlung Name</span>
    <span class="collection__count">23</span>
</div>