<h2>Titel des Rezepts festlegen</h2>
<span class="tipp">Tipp: Den Rezepttitel bekommst du in den Übersichten und Detailansichten deiner Rezepte angezeigt. Wähle daher einen prägnanten kurzen Titel.</span>