<div class="container">
    <div class="row mb-5">
        <div class="profile--slider">
            <div class="row mb-3">
                <div class="slider--info">
                    <h3>Meine Freunde (16)</h3>
                    <a href="#">
                        <span>mehr ansehen</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M11 4L21.5858 14.5858C22.3668 15.3668 22.3668 16.6332 21.5858 17.4142L10.9999 28" stroke="#F6F5EF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="slider">
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                    <div class="slider__item">
                        <div class="profile__image">
                            <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                        </div>
                        <h2 class="profile__name">Their Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>