<header>
<h1>Rezepte für dich</h1>
<ul class="notifications">
    <li>
       <a href="#">
           <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path class="icon--primary" d="M14.5244 6.25C8.52431 8.75 7.52441 9.25 7.52431 13.25C7.52455 23.25 4.02418 24.75 4.52441 24.75C5.02465 24.75 14.5244 24.75 14.5244 24.75M14.5244 6.25C17.5244 6.25 17.5244 1.75 14.5244 1.75C11.5244 1.75 11.5244 6.25 14.5244 6.25ZM14.5244 6.25C20.5243 8.75 21.5244 9.25 21.5243 13.25C21.5245 23.25 25.5245 24.75 25.0244 24.75C24.5243 24.75 14.5244 24.75 14.5244 24.75M14.5244 24.75C11.3488 24.6913 11.5242 29.25 14.5244 29.25C17.5246 29.25 18.0247 24.75 14.5244 24.75Z" stroke="#F6F5EF" stroke-width="2"/>
               <circle class="icon--notified" cx="21.0244" cy="23.75" r="6" fill="#BF4053" stroke="#F6F5EF"/>
           </svg>
       </a>
    </li>
    <li>
        <a href="#">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon--primary" d="M12.8824 14.7059C5.47059 14.7059 5.05882 17.6054 3 22.9754C5.53214 25.4989 9.02507 25.0588 12.8824 25.0588C16.7396 25.0588 20.2326 25.4989 22.7647 22.9754C20.7059 17.6054 20.2941 14.7059 12.8824 14.7059ZM12.8824 14.7059C5.47059 14.7059 5.47059 4 12.8824 4C20.2941 4 20.2941 14.7059 12.8824 14.7059ZM25 7H29M25 7V3M25 7H21M25 7V11" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round"/>
                <circle class="icon--notified" cx="22.5" cy="22.5" r="6" fill="#BF4053" stroke="#F6F5EF"/>
            </svg>
        </a>
    </li>
</ul>
</header>