<header class="back">
    <a href="#" onclick="history.go(-1);">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="icon--primary" d="M22 28L11.4142 17.4142C10.6332 16.6332 10.6332 15.3668 11.4142 14.5858L22.0001 4" stroke="#F6F5EF" stroke-width="4" stroke-linecap="round"/>
        </svg>
        <h2>Zurück</h2>
    </a>
</header>