<header>
<h1>@yourUserName</h1>
<ul class="notifications">
    <li>
        <a href="/settings.html">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon--primary" d="M7 15C6.44772 15 6 15.4477 6 16C6 16.5523 6.44772 17 7 17H9.26756C9.61337 17.5978 10.2597 18 11 18C11.7403 18 12.3866 17.5978 12.7324 17H25C25.5523 17 26 16.5523 26 16C26 15.4477 25.5523 15 25 15H12.7324C12.3866 14.4022 11.7403 14 11 14C10.2597 14 9.61337 14.4022 9.26756 15H7ZM25 22C25.5523 22 26 21.5523 26 21C26 20.4477 25.5523 20 25 20H20.7324C20.3866 19.4022 19.7403 19 19 19C18.2597 19 17.6134 19.4022 17.2676 20H7C6.44772 20 6 20.4477 6 21C6 21.5523 6.44772 22 7 22H17.2676C17.6134 22.5978 18.2597 23 19 23C19.7403 23 20.3866 22.5978 20.7324 22H25ZM7 10C6.44772 10 6 10.4477 6 11C6 11.5523 6.44772 12 7 12H13.2676C13.6134 12.5978 14.2597 13 15 13C15.7403 13 16.3866 12.5978 16.7324 12H25C25.5523 12 26 11.5523 26 11C26 10.4477 25.5523 10 25 10H16.7324C16.3866 9.4022 15.7403 9 15 9C14.2597 9 13.6134 9.4022 13.2676 10H7ZM3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </a>
    </li>
</ul>
</header>