<header>
<h1>Neues Rezept anlegen</h1>
<ul class="notifications">
    <li>
        <a href="/">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon--primary" d="M23 23L16 16M9 9L16 16M16 16L9 23M16 16L23 9" stroke="#F6F5EF" stroke-width="3" stroke-linecap="round"/>
            </svg>
        </a>
    </li>
</ul>
</header>