<div class="progress__bar">
    <div class="bar__progress progress--1-14"></div>
</div>
<div class="progress__info">
    <h2>Schritt 1 von 14</h2>
    <span>Nächster Schritt: <br> Schwierigkeitsgrad festlegen</span>
</div>
