<div class="container--cta">
    <a href="/import-recipe.html" class="btn btn--secondary btn--cta">
        Importieren
    </a>
    <a href="/new-recipe/step-2.html" class="btn btn--primary btn--cta">
        Start
    </a>
</div>