$atom: 'btn';

// Atom
$btn-padding-x:       1rem;
$btn-padding-y:       2rem;
$btn-padding-x-y:     $btn-padding-x $btn-padding-y;

$btn-disabled-opacity:  .65;
$btn-focus-box-shadow:  none;
$btn-active-box-shadow: none;

$btn-font-family:		    $font-family-sans-serif;
$btn-font-size:			    $font-size-base * 2.4;
$btn-font-weight:		    $font-weight-base;
$btn-text-decoration:   none;
$btn-line-height:       $line-height-base * 1.25;

$btn-border-radius:	    1.5rem;
$btn-border-width:	    0.6rem;

// Buttons
button,.#{$atom} {
  padding: $btn-padding-x-y;

  color: $black;
  background-color: $white;

  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-decoration: $btn-text-decoration;
  line-height: $btn-line-height;

  border-radius: $btn-border-radius;
  border-width: $btn-border-width;
  border-color: $white;

  outline: none;

  svg {
    width: 4rem;
    height: 4rem;
  }
}

button:hover,
button:focus {
  outline: none;
  color: lighten($black, 20%);
  background-color: darken($white, 10%);
  border-color: darken($white, 20%);
}

button.disabled,.#{$atom}.disabled {
  opacity: $btn-disabled-opacity;
}

button + button,
.#{$atom} + .#{$atom} {
  margin-left: $grid-margin-left-right--mobile / 2;
}

.#{$atom}-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 0.5rem;
}

// Modifiers
.#{$atom}--primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;

  &:focus,
  &:hover {
    color: lighten($white, 20%);
    background-color: darken($primary, 6%);
    border-color: lighten($primary, 4%);
  }
}

.#{$atom}--secondary {
  background-color: $white;
  border-color: $white;
  color: $success;

  &:focus,
  &:hover {
    color: $success;
    background-color: darken($white, 6%);
    border-color: lighten($white, 2%);
  }
}

.#{$atom}--tertiary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:focus,
  &:hover {
    color: lighten($primary, 8%);;
    background-color: $white;
    border-color: lighten($primary, 8%);
  }
}

.#{$atom}--warning {
  background-color: $white;
  border-color: $white;
  color: $info;

  &:focus,
  &:hover {
    color: $info;
    background-color: darken($white, 6%);
    border-color: lighten($white, 2%);
  }
}

.#{$atom}--delete {
  background-color: $danger;
  border-color: $danger;
  color: $white;

  &.#{$atom}--round {
    border-radius: 10rem;
    padding: 1rem;
  }

  &:focus,
  &:hover {
    color: lighten($white, 20%);
    background-color: darken($danger, 8%);
    border-color: lighten($danger, 4%);
  }
}

.container--cta {
  width: 100%;
  display: flex;
  padding: $grid-margin-up-down--mobile $grid-margin-left-right--mobile;

  & > * {
    flex: 1;
  }

  &.btn--skip {
    justify-content: flex-end;

    .#{$atom}--cta {
        max-width: calc(50% - 0.8rem);
        flex-grow: 1;
      }
  }
}
