// Buttons
$atom: 'btn';

// Atom
$btn-padding-x-y:       1rem 2rem;
$btn-border-width:	    0.1rem;
$btn-border-radius:	    0.1rem;
$btn-focus-box-shadow:  none;
$btn-disabled-opacity:  .65;
$btn-active-box-shadow: none;
$btn-text-decoration:   none;
$btn-font-family:		$font-family-sans-serif;
$btn-font-weight:		$font-weight-base;
$btn-font-size:			$font-size-base * 1.125;
$btn-line-height:       $line-height-base * 1.25;