<!DOCTYPE html>
<html lang="de" class="html">
{{> ../../01-atoms/head }}
<body>
{{> ../../03-organisms/navbar/none }}
{{> ../../02-molecules/header/go-back }}
{{> ../../03-organisms/search/friends }}
<div class="container">
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
    {{> ../../02-molecules/author/default }}
</div>
</body>
</html>
