<div class="container">
    <div class="row">
        <div class="profile--slider">
            <div class="row mb-3">
                <div class="slider--info">
                    <h3>Meine Sammlungen</h3>
                    <a href="#">
                        <span>bearbeiten</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M8.30771 19.1579L19.3847 7.78947M8.30771 19.1579L4.05801 27.2579C4.01991 27.3305 4 27.4113 4 27.4933V27.4933C4 27.7731 4.22681 28 4.50659 28V28C4.5783 28 4.6492 27.9848 4.71459 27.9553L13.2433 24.1149M8.30771 19.1579C11.8242 19.801 12.7504 21.0129 13.2433 24.1149M13.2433 24.1149L24.3077 12.8421M24.3077 12.8421L25.7731 11.3381C27.031 10.0471 27.087 8.00654 25.9018 6.64844V6.64844C24.6312 5.19258 22.4144 5.05958 20.9789 6.35307L19.3847 7.78947M24.3077 12.8421L19.3847 7.78947" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row mb-5 collection">
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                    </div>
                    <div class="row mb-5 collection">
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                    </div>
                </div>
                <div class="container--cta">
                    <a href="/cookbook.html" class="btn btn--secondary btn--cta">
                        Alle ansehen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>