<!DOCTYPE html>
<html lang="de" class="html">
{{> ../../01-atoms/head }}
<body>
{{> ../../03-organisms/navbar/profile }}
{{> ../../02-molecules/header/profile }}
{{> ../../02-molecules/profile-head/foreign }}
{{> ../../02-molecules/friend-request-action/send }}
{{> ../../02-molecules/friend-list/foreign }}
{{> ../../02-molecules/recommendations/foreign/default }}
{{> ../../02-molecules/recommendations/foreign/collection }}
</body>
</html>
