<div class="container">
    <div class="card card--recipe">
        <div class="card__actions">
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M22.6609 26.3679C17.7693 20.5388 14.1221 20.544 9.22828 26.3836C8.52013 27.2286 7.24601 27.3588 6.43032 26.6171C6.04056 26.2627 5.81836 25.7603 5.81836 25.2335V8C5.81836 5.79086 7.60922 4 9.81836 4H22.182C24.3911 4 26.182 5.79086 26.182 8V25.1805C26.182 25.7396 25.9397 26.2712 25.5178 26.638C24.6715 27.3738 23.3818 27.227 22.6609 26.3679Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M16 2.41459L19.3317 9.73698C19.6228 10.3768 20.2285 10.8168 20.9269 10.896L28.9205 11.8019L22.986 17.2333C22.4675 17.7079 22.2362 18.4198 22.3767 19.1085L23.9853 26.9908L16.9859 23.0252C16.3743 22.6787 15.6257 22.6787 15.0141 23.0252L8.0147 26.9908L9.62327 19.1085C9.76383 18.4198 9.5325 17.7079 9.01396 17.2333L3.07951 11.8019L11.0731 10.896C11.7715 10.8168 12.3772 10.3768 12.6683 9.73699L16 2.41459Z" stroke-width="2"/>
                </svg>
            </button>
        </div>
        <div class="card__teaser">
            <img src="https://via.placeholder.com/343x193" alt="Rezept Vorschau">
            <h3>Ein Rezept Titel</h3>
        </div>
        <div class="card__meta">
            <ul>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M25.1794 26.0001V26.0001C25.1865 28.2072 23.3994 30.0002 21.1923 30.0002H11.1794C8.9703 30.0002 7.17944 28.2093 7.17944 26.0001V26.0001M25.1794 26.0001C23.6794 25.0001 8.67944 25.0001 7.17944 26.0001M25.1794 26.0001L25.1887 19.0971C25.1909 17.4636 26.3303 16.0755 27.3187 14.7749C29.466 11.9494 28.5905 7.05514 24.692 6.03495C23.135 5.62751 21.5795 4.95659 20.4234 3.83697C17.8944 1.3879 14.696 1.38768 12.1676 3.83629C11.0113 4.95615 9.46252 5.64675 7.89676 6.02034C3.71786 7.01743 2.26076 12.0345 4.77467 14.8593C5.91932 16.1454 7.17944 17.5545 7.17944 19.2763L7.17944 26.0001M11.6794 16.0001V22.0001M20.6794 22.0001V16.0001M16.1794 22.0001V13.0001" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Anspruchsvoll</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M15 16V16.4599L15.3492 16.7593L22.3492 22.7593C22.7685 23.1187 23.3998 23.0701 23.7593 22.6508C24.1187 22.2315 24.0701 21.6002 23.6508 21.2407L17 15.5401V7C17 6.44772 16.5523 6 16 6C15.4477 6 15 6.44772 15 7V16ZM3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span>46 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M10 15V17M5 11.5H27.2353M9 2V8M14 15V17M18 15V17M22 15V17M23 2V8M10 21V23M14 21V23M18 21V23M22 21V23M27.2353 22.5187V25C27.2353 27.2091 25.4444 29 23.2353 29H9C6.79086 29 5 27.2091 5 25V9C5 6.79086 6.79086 5 9 5H23.2353C25.4444 5 27.2353 6.79086 27.2353 9V22.5187Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>12.03.2019</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M8.25883 16C7.92686 14.8279 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11H20.2587C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3H15H17L19 3.5H20.5L25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16Z" fill="#F6F5EF"/>
                            <path class="icon--primary" d="M25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16C7.92686 14.8278 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11C16.7587 11 19.2587 11 20.2587 11C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8M25.2587 6.66827L22.7588 8M25.2587 6.66827L20.5 3.5M22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6M21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3C14.2588 3 15 3 15 3L17 3L19 3.5H20.5M21.7588 6L20.5 3.5" stroke="#F6F5EF" stroke-width="0.5"/>
                            <path class="icon--primary" d="M3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2"/>
                        </svg>
                        <span>Deutschland</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card__author">
            <h4>Erstellt von:</h4>
            <div class="author">
                <div class="author__image">
                    <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                </div>
                <div class="author__info">
                    <span class="author__name">Yelena Helsinki</span>
                    <span class="author__count-published">22 Rezepte</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card card--recipe recipe--recommendation">
        <div class="card__actions">
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M22.6609 26.3679C17.7693 20.5388 14.1221 20.544 9.22828 26.3836C8.52013 27.2286 7.24601 27.3588 6.43032 26.6171C6.04056 26.2627 5.81836 25.7603 5.81836 25.2335V8C5.81836 5.79086 7.60922 4 9.81836 4H22.182C24.3911 4 26.182 5.79086 26.182 8V25.1805C26.182 25.7396 25.9397 26.2712 25.5178 26.638C24.6715 27.3738 23.3818 27.227 22.6609 26.3679Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M16 2.41459L19.3317 9.73698C19.6228 10.3768 20.2285 10.8168 20.9269 10.896L28.9205 11.8019L22.986 17.2333C22.4675 17.7079 22.2362 18.4198 22.3767 19.1085L23.9853 26.9908L16.9859 23.0252C16.3743 22.6787 15.6257 22.6787 15.0141 23.0252L8.0147 26.9908L9.62327 19.1085C9.76383 18.4198 9.5325 17.7079 9.01396 17.2333L3.07951 11.8019L11.0731 10.896C11.7715 10.8168 12.3772 10.3768 12.6683 9.73699L16 2.41459Z" stroke="#F6F5EF" stroke-width="2"/>
                </svg>
            </button>
        </div>
        <div class="card__label">
            <span class="label">Empfehlung</span>
        </div>
        <div class="card__teaser">
            <img src="https://via.placeholder.com/343x193" alt="Rezept Vorschau">
            <h3>Ein Rezept Titel</h3>
        </div>
        <div class="card__meta">
            <ul>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M25.1794 26.0001V26.0001C25.1865 28.2072 23.3994 30.0002 21.1923 30.0002H11.1794C8.9703 30.0002 7.17944 28.2093 7.17944 26.0001V26.0001M25.1794 26.0001C23.6794 25.0001 8.67944 25.0001 7.17944 26.0001M25.1794 26.0001L25.1887 19.0971C25.1909 17.4636 26.3303 16.0755 27.3187 14.7749C29.466 11.9494 28.5905 7.05514 24.692 6.03495C23.135 5.62751 21.5795 4.95659 20.4234 3.83697C17.8944 1.3879 14.696 1.38768 12.1676 3.83629C11.0113 4.95615 9.46252 5.64675 7.89676 6.02034C3.71786 7.01743 2.26076 12.0345 4.77467 14.8593C5.91932 16.1454 7.17944 17.5545 7.17944 19.2763L7.17944 26.0001M11.6794 16.0001V22.0001M20.6794 22.0001V16.0001M16.1794 22.0001V13.0001" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Anspruchsvoll</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M15 16V16.4599L15.3492 16.7593L22.3492 22.7593C22.7685 23.1187 23.3998 23.0701 23.7593 22.6508C24.1187 22.2315 24.0701 21.6002 23.6508 21.2407L17 15.5401V7C17 6.44772 16.5523 6 16 6C15.4477 6 15 6.44772 15 7V16ZM3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span>46 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M10 15V17M5 11.5H27.2353M9 2V8M14 15V17M18 15V17M22 15V17M23 2V8M10 21V23M14 21V23M18 21V23M22 21V23M27.2353 22.5187V25C27.2353 27.2091 25.4444 29 23.2353 29H9C6.79086 29 5 27.2091 5 25V9C5 6.79086 6.79086 5 9 5H23.2353C25.4444 5 27.2353 6.79086 27.2353 9V22.5187Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>12.03.2019</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M8.25883 16C7.92686 14.8279 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11H20.2587C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3H15H17L19 3.5H20.5L25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16Z" fill="#F6F5EF"/>
                            <path class="icon--primary" d="M25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16C7.92686 14.8278 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11C16.7587 11 19.2587 11 20.2587 11C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8M25.2587 6.66827L22.7588 8M25.2587 6.66827L20.5 3.5M22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6M21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3C14.2588 3 15 3 15 3L17 3L19 3.5H20.5M21.7588 6L20.5 3.5" stroke="#F6F5EF" stroke-width="0.5"/>
                            <path class="icon--primary" d="M3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2"/>
                        </svg>
                        <span>Deutschland</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card__author">
            <h4>Erstellt von:</h4>
            <div class="author">
                <div class="author__image">
                    <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                </div>
                <div class="author__info">
                    <span class="author__name">Yelena Helsinki</span>
                    <span class="author__count-published">22 Rezepte</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card card--recipe recipe--new">
        <div class="card__actions">
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M22.6609 26.3679C17.7693 20.5388 14.1221 20.544 9.22828 26.3836C8.52013 27.2286 7.24601 27.3588 6.43032 26.6171C6.04056 26.2627 5.81836 25.7603 5.81836 25.2335V8C5.81836 5.79086 7.60922 4 9.81836 4H22.182C24.3911 4 26.182 5.79086 26.182 8V25.1805C26.182 25.7396 25.9397 26.2712 25.5178 26.638C24.6715 27.3738 23.3818 27.227 22.6609 26.3679Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M16 2.41459L19.3317 9.73698C19.6228 10.3768 20.2285 10.8168 20.9269 10.896L28.9205 11.8019L22.986 17.2333C22.4675 17.7079 22.2362 18.4198 22.3767 19.1085L23.9853 26.9908L16.9859 23.0252C16.3743 22.6787 15.6257 22.6787 15.0141 23.0252L8.0147 26.9908L9.62327 19.1085C9.76383 18.4198 9.5325 17.7079 9.01396 17.2333L3.07951 11.8019L11.0731 10.896C11.7715 10.8168 12.3772 10.3768 12.6683 9.73699L16 2.41459Z" stroke="#F6F5EF" stroke-width="2"/>
                </svg>
            </button>
        </div>
        <div class="card__label">
            <span class="label">Neu</span>
        </div>
        <div class="card__teaser">
            <img src="https://via.placeholder.com/343x193" alt="Rezept Vorschau">
            <h3>Ein Rezept Titel</h3>
        </div>
        <div class="card__meta">
            <ul>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M25.1794 26.0001V26.0001C25.1865 28.2072 23.3994 30.0002 21.1923 30.0002H11.1794C8.9703 30.0002 7.17944 28.2093 7.17944 26.0001V26.0001M25.1794 26.0001C23.6794 25.0001 8.67944 25.0001 7.17944 26.0001M25.1794 26.0001L25.1887 19.0971C25.1909 17.4636 26.3303 16.0755 27.3187 14.7749C29.466 11.9494 28.5905 7.05514 24.692 6.03495C23.135 5.62751 21.5795 4.95659 20.4234 3.83697C17.8944 1.3879 14.696 1.38768 12.1676 3.83629C11.0113 4.95615 9.46252 5.64675 7.89676 6.02034C3.71786 7.01743 2.26076 12.0345 4.77467 14.8593C5.91932 16.1454 7.17944 17.5545 7.17944 19.2763L7.17944 26.0001M11.6794 16.0001V22.0001M20.6794 22.0001V16.0001M16.1794 22.0001V13.0001" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Anspruchsvoll</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M15 16V16.4599L15.3492 16.7593L22.3492 22.7593C22.7685 23.1187 23.3998 23.0701 23.7593 22.6508C24.1187 22.2315 24.0701 21.6002 23.6508 21.2407L17 15.5401V7C17 6.44772 16.5523 6 16 6C15.4477 6 15 6.44772 15 7V16ZM3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span>46 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M10 15V17M5 11.5H27.2353M9 2V8M14 15V17M18 15V17M22 15V17M23 2V8M10 21V23M14 21V23M18 21V23M22 21V23M27.2353 22.5187V25C27.2353 27.2091 25.4444 29 23.2353 29H9C6.79086 29 5 27.2091 5 25V9C5 6.79086 6.79086 5 9 5H23.2353C25.4444 5 27.2353 6.79086 27.2353 9V22.5187Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>12.03.2019</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M8.25883 16C7.92686 14.8279 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11H20.2587C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3H15H17L19 3.5H20.5L25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16Z" fill="#F6F5EF"/>
                            <path class="icon--primary" d="M25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16C7.92686 14.8278 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11C16.7587 11 19.2587 11 20.2587 11C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8M25.2587 6.66827L22.7588 8M25.2587 6.66827L20.5 3.5M22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6M21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3C14.2588 3 15 3 15 3L17 3L19 3.5H20.5M21.7588 6L20.5 3.5" stroke="#F6F5EF" stroke-width="0.5"/>
                            <path class="icon--primary" d="M3 16C3 8.8203 8.8203 3 16 3C23.1797 3 29 8.8203 29 16C29 19.5982 27.5395 22.8534 25.1765 25.2083C22.8241 27.5526 19.582 29 16 29C12.418 29 9.17589 27.5526 6.82354 25.2083C4.46054 22.8534 3 19.5982 3 16Z" stroke="#F6F5EF" stroke-width="2"/>
                        </svg>
                        <span>Deutschland</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card__author">
            <h4>Erstellt von:</h4>
            <div class="author">
                <div class="author__image">
                    <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                </div>
                <div class="author__info">
                    <span class="author__name">Yelena Helsinki</span>
                    <span class="author__count-published">22 Rezepte</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card card--recipe recipe--private">
        <div class="card__actions">
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M22.6609 26.3679C17.7693 20.5388 14.1221 20.544 9.22828 26.3836C8.52013 27.2286 7.24601 27.3588 6.43032 26.6171C6.04056 26.2627 5.81836 25.7603 5.81836 25.2335V8C5.81836 5.79086 7.60922 4 9.81836 4H22.182C24.3911 4 26.182 5.79086 26.182 8V25.1805C26.182 25.7396 25.9397 26.2712 25.5178 26.638C24.6715 27.3738 23.3818 27.227 22.6609 26.3679Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="btn btn--action" onclick="this.classList.toggle('action--set');">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon--primary" d="M16 2.41459L19.3317 9.73698C19.6228 10.3768 20.2285 10.8168 20.9269 10.896L28.9205 11.8019L22.986 17.2333C22.4675 17.7079 22.2362 18.4198 22.3767 19.1085L23.9853 26.9908L16.9859 23.0252C16.3743 22.6787 15.6257 22.6787 15.0141 23.0252L8.0147 26.9908L9.62327 19.1085C9.76383 18.4198 9.5325 17.7079 9.01396 17.2333L3.07951 11.8019L11.0731 10.896C11.7715 10.8168 12.3772 10.3768 12.6683 9.73699L16 2.41459Z" stroke="#F6F5EF" stroke-width="2"/>
                </svg>
            </button>
        </div>
        <div class="card__label">
            <span class="label">Privat</span>
        </div>
        <div class="card__teaser">
            <img src="https://via.placeholder.com/343x193" alt="Rezept Vorschau">
            <h3>Ein Rezept Titel</h3>
        </div>
        <div class="card__meta">
            <ul>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M25.1794 26.0001V26.0001C25.1865 28.2072 23.3994 30.0002 21.1923 30.0002H11.1794C8.9703 30.0002 7.17944 28.2093 7.17944 26.0001V26.0001M25.1794 26.0001C23.6794 25.0001 8.67944 25.0001 7.17944 26.0001M25.1794 26.0001L25.1887 19.0971C25.1909 17.4636 26.3303 16.0755 27.3187 14.7749C29.466 11.9494 28.5905 7.05514 24.692 6.03495C23.135 5.62751 21.5795 4.95659 20.4234 3.83697C17.8944 1.3879 14.696 1.38768 12.1676 3.83629C11.0113 4.95615 9.46252 5.64675 7.89676 6.02034C3.71786 7.01743 2.26076 12.0345 4.77467 14.8593C5.91932 16.1454 7.17944 17.5545 7.17944 19.2763L7.17944 26.0001M11.6794 16.0001V22.0001M20.6794 22.0001V16.0001M16.1794 22.0001V13.0001" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Anspruchsvoll</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M16 7V16L23 22M30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 19.8747 3.57407 23.3818 6.11765 25.9166C8.64978 28.4401 12.1427 30 16 30C19.8573 30 23.3502 28.4401 25.8824 25.9166C28.4259 23.3818 30 19.8747 30 16Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span>46 min</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M10 15V17M5 11.5H27.2353M9 2V8M14 15V17M18 15V17M22 15V17M23 2V8M10 21V23M14 21V23M18 21V23M22 21V23M27.2353 22.5187V25C27.2353 27.2091 25.4444 29 23.2353 29H9C6.79086 29 5 27.2091 5 25V9C5 6.79086 6.79086 5 9 5H23.2353C25.4444 5 27.2353 6.79086 27.2353 9V22.5187Z" stroke="#F6F5EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>12.03.2019</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon--primary" d="M8.25883 16C7.92686 14.8279 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11H20.2587C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3H15H17L19 3.5H20.5L25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16Z" fill="#F6F5EF"/>
                            <path class="icon--primary" d="M25.2587 6.66827L28.2588 11.5C28.2588 11.5 25.2586 11.5 25.2587 12C25.2588 12.5 26.7587 13.5 24.7587 14.5C22.7587 15.5 22.2587 11.5 21.7588 12C21.2589 12.5 21.2589 12.5 21.7588 13C22.2587 13.5 21.7588 14.5 22.2587 15C22.7586 15.5 22.7589 17 23.2588 17C23.7587 17 24.7589 16 25.2588 16C25.7587 16 25.7589 16.5 25.2588 18C24.7587 19.5 22.7589 19.5 22.2588 20.5C21.7587 21.5 23.2587 22 22.2588 23C21.2589 24 17.7587 26 16.7588 26C15.7589 26 15.2587 24.5 15.7588 22C16.2589 19.5 14.7587 19 14.2588 18.5C13.7589 18 11.2587 19 10.2588 18.5C9.25894 18 8.79062 17.3498 8.25883 16C7.92686 14.8278 7.90083 14.1775 8.25883 13C8.39283 11.9783 8.57035 11.5413 9.25883 11.5C9.91828 10.238 10.5536 9.75935 11.7588 9.5C11.8128 9.58089 14.2955 9.08798 14.7588 9.5C15.2221 9.91202 15.8333 11.3099 16.7587 11C16.7587 11 19.2587 11 20.2587 11C21.2587 11 21.2587 11 21.7587 10.5C22.2587 10 20.2587 9.5 20.2587 8.5C20.2587 7.5 22.7588 8 22.7588 8M25.2587 6.66827L22.7588 8M25.2587 6.66827L20.5 3.5M22.7588 8C22.7588 7 22.5075 7.27161 21.7588 6M21.7588 6H19.7588C19.7588 6 18.7588 8 18.2588 8C17.7589 8 16.7588 6.5 16.7588 6.5C16.7588 6.5 16.2589 6 15.7588 6.5C15.2588 7 16.7589 7.5 16.7588 8C16.7588 8.5 15.98 8.84364 15.7588 8.5C15.5376 8.15636 15.0694 6.61414 14.7588 7C14.7588 7 13.7588 6.5 13.2588 7C12.7589 7.5 12.7588 8 11.7588 8.5C10.7589 9 10.2588 9 9.75883 8.5C9.25883 8 9.25887 7.5 9.75883 7C10.2588 6.5 11.2588 7 11.7588 6.5C12.2588 6 10.2589 5.5 10.7588 5C11.2588 4.5 11.7589 4.5 12.2588 4.5C12.7588 4.5 13.2588 4 13.2588 3.5C13.2589 3 13.2589 3 13.7588 3C14.2588 3 15 3 15 3L17 3L19 3.5H20.5M21.7588 6L20.5 3.5" stroke="#F6F5EF" stroke-width="0.5"/>
                            <path class="icon--primary" d="M30 16C30 19.8747 28.4259 23.3818 25.8824 25.9166C23.3502 28.4401 19.8573 30 16 30C12.1427 30 8.64978 28.4401 6.11765 25.9166C3.57407 23.3818 2 19.8747 2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16Z" stroke="#F6F5EF" stroke-width="2"/>
                        </svg>
                        <span>Deutschland</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card__author">
            <h4>Erstellt von:</h4>
            <div class="author">
                <div class="author__image">
                    <img src="https://via.placeholder.com/150x150" alt="Autor Bild">
                </div>
                <div class="author__info">
                    <span class="author__name">Yelena Helsinki</span>
                    <span class="author__count-published">22 Rezepte</span>
                </div>
            </div>
        </div>
    </div>
</div>
