<div class="container">
    <div class="row">
        <div class="profile--slider">
            <div class="row mb-3">
                <div class="slider--info">
                    <h3>Sammlungen</h3>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row mb-5 collection">
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                    </div>
                    <div class="row mb-5 collection">
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                        <div class="col-sm">
                            {{> ../../../02-molecules/collection/default }}
                        </div>
                    </div>
                </div>
                <div class="container--cta">
                    <a href="/cookbook.html" class="btn btn--secondary btn--cta">
                        Alle ansehen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>