<!DOCTYPE html>
<html lang="de" class="html">
{{> ../../01-atoms/head }}
<body>
{{> ../../03-organisms/navbar/new-recipe }}
{{> ../../02-molecules/header/new-recipe }}
<div class="container recipe-form">
    <div class="row recipe-form__progress">
        <div class="progress__bar">
            <div class="bar__progress progress--2-14"></div>
        </div>
        <div class="progress__info">
            <h2>Schritt 2 von 14</h2>
            <span>N채chster Schritt: <br> Personenzahl angeben</span>
        </div>
    </div>
    <div class="row recipe-form__description">
        <h2>Schwierigkeitsgrad festlegen</h2>
        <span class="tipp">Tipp: Das W채hlen eines Schwierigkeitsgrades soll es anderen Nutzern erleichtern die Machbarkeit eines Rezepts einzusch채tzen.</span>
    </div>
    <div class="row recipe-form__step">
        <script type="text/javascript">
            // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
            let vh = window.innerHeight * 0.01;
            // Then we set the value in the --vh custom property to the root of the document
            document.documentElement.style.setProperty('--vh', `${vh}px`);
            // We listen to the resize event
            window.addEventListener('resize', () => {
              // We execute the same script as before
              let vh = window.innerHeight * 0.01;
              document.documentElement.style.setProperty('--vh', `${vh}px`);
            });
        </script>
        <div class="form">
            <div class="recipe-form__item">
                <input type="radio" class="input-type--radio" id="easy" name="difficulty-level" value="1"><label for="easy"><span></span>Einfach</label>
            </div>
            <div class="recipe-form__item">
                <input type="radio" class="input-type--radio" id="normal" name="difficulty-level" value="1" checked><label for="normal"><span></span>Normal</label>
            </div>
            <div class="recipe-form__item">
                <input type="radio" class="input-type--radio" id="advanced" name="difficulty-level" value="1"><label for="advanced"><span></span>Anspruchsvoll</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container--cta">
        <a href="/new-recipe.html" class="btn btn--secondary btn--cta">
            Zur체ck
        </a>
        <a href="/new-recipe/step-3.html" class="btn btn--primary btn--cta">
            Weiter
        </a>
    </div>
</div>
</body>
</html>
